.poster{
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 35vw;
    object-fit: cover;
    display: block;
}
.block{
    display: flex;
    justify-content: center;
}

.noPhoto{
    border-radius: 10px;
    width: 100%;
    height: 56vh;
    max-width: 35vw;
    object-fit: cover;
    display: block;
}