.button{
    width: 7vw;
    height: 5vh;
    border-radius: 15px;
    border: solid black 1px;;
    font-size: 2vh;
    color: var(--menu-link);
}

.button:hover{
    background-color: #53c0f3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button:disabled{
    border-radius: 50%;
    background-color: #f19090;
}
