.body{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    background-color: #c5c5c5;
    font-size: 2vh;
    text-decoration: none;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

}

input,
button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font: inherit;
}

html.light {
    --menu-bg: #a8a7a5;
    --list-background: #e8e8e8;
    --menu-link: black;
    --menu-link-hover: blueviolet;
    --borders: solid 2px #f88323;
    --text: black;
    --block-hover: #ffb169;
    --block: #e7e4e4;
    --shadows: #9d8f09;

}

html.dark {
    --menu-bg: #222;
    --list-background: #4b4a4a;
    --menu-link: #ffffff;
    --menu-link-hover: #19bdfc;
    --borders: solid 2px #a94af6;
    --block-hover: #6313ab;
    --text: #000000;
    --block: #222;
    --shadows: #4a80f6;
}
