.body{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    background-color: #c5c5c5;
    font-size: 2vh;
    text-decoration: none;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

}

input,
button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font: inherit;
}

html.light {
    --menu-bg: #ffb169;
    --list-background: #e8e8e8;
    --menu-link: black;
    --menu-link-hover: blueviolet;
    --borders: solid 2px #c4f5b0;
    --text: black;
    --block-hover: #ffb169;
    --block: #656464;
}

html.dark {
    --menu-bg: #222;
    --list-background: #656464;
    --menu-link: #ffb169;
    --menu-link-hover: #19bdfc;
    --borders: solid 2px #4a80f6;
    --block-hover: #ffb169;
    --text: #000000;
    --block: #222;
}
