.section{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    font-size: 8vh;
    background-color: var(--list-background);
}
.link{
    text-decoration: none;
    color: var(--menu-link);
}

.link:hover{
    color: var(--block-hover);
}