.badge{
    background-color: var(--block-hover);
    color: var(--menu-link);
    border-radius: 25px;
    border: solid 1px black;
    width: 7vw;
    margin-left: 2px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    flex-wrap: wrap;
    box-shadow: 0 4px 6px var(--block-hover);
}

.block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}